p{
    margin: 40px;
    padding: 10px;
    width: "100%";
    font-Family: "Spectral";
    font-Size: 20px;
    font: 20px / 31px "Spectral";
    letter-Spacing: -0.4px;
    line-Height: 31px;
    text-indent: 10px;
}

.img {
   position: relative;
   float: right;
   height: 70vh;
   
   
}